In [2]:
import pandas as pd
import pymongo
df=pd.read_csv('data.csv')
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [3]:
df.columns

Index(['id', 'Gender', 'Age', 'Driving_License', 'Region_Code',
       'Previously_Insured', 'Vehicle_Age', 'Vehicle_Damage', 'Annual_Premium',
       'Policy_Sales_Channel', 'Vintage', 'Response'],
      dtype='object')

In [6]:
#df is to be converted to dict
data = df.to_dict(orient='records')
#data

In [9]:
db_name='proj1'
collection_name='proj1-data'
connection_url='mongodb+srv://vishnushankar123123:4O8V9hU3Ijh0Zlrv@cluster0.chjssqa.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0'

In [10]:
client=pymongo.MongoClient(connection_url)
data_base=client[db_name]
collection=data_base[collection_name]

In [11]:
#uploading data to the mongodb
rec=collection.insert_many(data)